
    #- name: Scan SSH host keys
     # command: ssh-keyscan {{ inventory_hostname }}
      #register: ssh_keyscan_output
      
    #- name: Add SSH host keys to known_hosts file
     # lineinfile:
      #  path: "{{ lookup('env', 'HOME') + '/.ssh/known_hosts' }}"
       # line: "{{ ssh_keyscan_output.stdout_lines }}"
        #create: yes
      #delegate_to: localhost

    - name: Install build tools
      become: true
      apt:
        update_cache: yes
        name:
          - build-essential
          #- libjemalloc-dev
          #- liblua5.3-dev
          #- libhiredis-dev
        
    - name: Create directory for Redis installation
      file:
        path: "/tmp/redis_install"
        state: directory
    - name: Download redis
      get_url:
        url: "http://download.redis.io/releases/{{ app.appname }}-{{ app.version }}.tar.gz"
        dest: "/tmp/redis_install/redis.tar.gz"

    - name: Ensure extracted directory exists
      file:
        path: "/tmp/redis_install/{{ app.appname }}-{{ app.version }}"
        state: directory
        recurse: yes
    - name: Extract redis
      unarchive:
        src: "/tmp/redis_install/redis.tar.gz"
        dest: "/tmp/redis_install"
        remote_src: yes

    - name: Build and install Redis
      shell:
        cmd: "make && make install"
        chdir: "/tmp/redis_install/{{ app.appname }}-{{ app.version }}"
      notify: restart
    - name: Configure Redis
      template:
        src: "conf.j2"
        dest: "/tmp/redis_install/{{ app.appname }}-{{ app.version }}/conf"
      become: true
    - name: remove temporary directory
      file:
        path: "/tmp/redis_install"
        state: absent

    
